*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: black;
    padding-bottom: 60px;
    min-height: 150px;
    padding-top: 50px;
    text-align: center;
}
header > h1{
    color: white;
    margin-bottom: 20px;
}
header > p{
    color: white;
}
main{
    
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    min-width: 320px;
    max-width: 800px;
    
}
main > p{
    line-height: 1.5em;
    font-weight: bold;
    display: inline-block;
}

main > img{
    width: 100%;
}
.container {
    position: relative;
    display: inline-block;
  }
  
.texto-sobreposto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-101%, -110%);
    color: white; /* Cor do texto */
    font-size: 22px; /* Tamanho da fonte */
    text-align: right; /* Alinhamento do texto */
}
.container img {
    max-width: 100%; /* Define a largura máxima da imagem como 100% do tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */
  }

